{% extends 'frametemplate.html' %}

{% block title %}Document{% endblock %}

{% block header %}
<script type="text/javascript" src="/js/rtf-converters.js"></script>
<script type="text/javascript" src="/js/edit-api.js"></script>
<script type="text/javascript">
function switchToEditMode() {
	$("#displaymain").hide();
	$("#editmain").show();
}

function switchToDisplayMode() {
	$("#editmain").hide();
	$("#displaymain").show();
}

function removeRTF() {
	var textConverter = new TextConverter();
	$("textarea[name=textdata]").val(textConverter.convert($("textarea[name=textdata]").val()));
}

function doSaveChanges() {
	var result = saveDocument('{{textdata._id.toString()}}',
	                          $("textarea[name=textdata]").val(),
	             			  $("textarea[name=textsummary]").val());
	if (result && result.status === "success") {
		$("textarea[name=textdata]").val(result.body);
		$("textarea[name=textsummary]").val(result.summary);
		$("#textdata").html();
		$("#textdata").html(result.body);
	}
}

function doRevertChanges() {
	var result = revertDocument('{{textdata._id.toString()}}');
	if (result && result.status === "success") {
		$("textarea[name=textdata]").val(result.body);
		$("textarea[name=textsummary]").val(result.summary);
		$("#textdata").html();
		$("#textdata").html(result.body);
	}
}
</script>
{% endblock %}

{% block leftcolumn %}
  {% if textdata %}
    <div class="taglist">
    	<span style="font-size: 12px">Doc Tags</span>
		{% for tag in textdata.tags.sort() %}
		<div class="tag" id="{{tag}}"><a href="/search?tags={{tag}}&page=1">{{tag}}</a> {% if user %}<img class="delete-button" onClick="javascript:deleteTag('{{textdata._id.toString()}}','{{tag}}');"/>{% endif %}</div>
		{% endfor %}
	</div>
	{% if user %}
		<span style="font-size: 12px">Add Tag</span>
		<div class="tag">
			<form name="addtag" method="post" action="" onsubmit="addTag('{{textdata._id.toString()}}');return false;">
				<input type="text" name="newtag" value=""/>
				<input type="button" name="add" class="add-button" onClick="javascript:addTag('{{textdata._id.toString()}}');"/>
			</form>
		</div>
	{% endif %}
	{% if textdata.story.storyname %}
		<span style="font-size: 12px">Series Info</span>
		<div class="series">
		{% if user %}
			<form name="setsequence" method="post" action="" onsubmit="setSequence('{{textdata._id.toString()}}');return false;">
				<input type="text" name="series_name" value="{{textdata.story.storyname}}"/>
				<input type="text" name="sequence" value="{{textdata.story.chapter}}"/>
				<input type="button" name="set" value="set" class="set-button" onClick="javascript:setSequence('{{textdata._id.toString()}}');"/>
			</form>
	 	{% else %}
	 		<span style="font-size: 12px">Story: {{textdata.story.storyname}}</span>
	 	 	<span style="font-size: 12px">Chapter: {{textdata.story.chapter}}</span>
	 	{% endif %}
			<span style="font-size: 12px">Chapter count: {{textdata.story.count}}</span>
		</div>
	{% endif %}
	{% if user %}
		{% if textdata.deleted %}
		<div class="delete">
			<input type="button" name="undelete" value="Un-Delete Document" class="delete-document" onClick="javascript:unDeleteDocument('{{textdata._id.toString()}}');"/>
		</div>
		{% else %}
		<div class="delete">
			<input type="button" name="delete" value="Delete Document" class="delete-document" onClick="javascript:deleteDocument('{{textdata._id.toString()}}');"/>
		</div>
		{% endif %}
	{% endif %}
	<div class="imagedetail">
		<div id="original">Original: {{textdata.source}}</div>
		<div id="uploaded">Uploaded on: {{textdata.original_date|date('Y-m-d')}}</div>
	</div>
  {% endif %}
{% endblock %}

{% block main %}
	<div id="alert">{{error}}</div>
	<div id="displaymain">
	{% if textdata %}
		{% if textdata.story.count >= 1 %}
		<div id="seriesnav">
			{% if textdata.story.chapter > 1 %}
				<a href="document?story={{textdata.story.storyname}}&chapter={{textdata.story.chapter - 1}}">&lt;&lt;&lt; Prev</a> 
			{% endif %}
			{{textdata.story.chapter}} of {{textdata.story.count}}
			{% if textdata.story.chapter < textdata.story.count %}
				<a href="document?story={{textdata.story.storyname}}&chapter={{textdata.story.chapter + 1}}">Next &gt;&gt;&gt;</a>
			{% endif %}
		</div>
		{% endif %}
		<!// add if user/>
		<div id="editbutton">
			<a href="javascript:switchToEditMode();">EDIT</a>
		</div>
		<!// add endif/>
		<div id="textdata">{{textdata.current}}</div>
		{% if textdata.story.count >= 1 %}
		<div id="seriesnav">
			{% if textdata.story.chapter > 1 %}
				<a href="document?story={{textdata.story.storyname}}&chapter={{textdata.story.chapter - 1}}">&lt;&lt;&lt; Prev</a> 
			{% endif %}
			{{textdata.story.chapter}} of {{textdata.story.count}}
			{% if textdata.story.chapter < textdata.story.count %}
				<a href="document?story={{textdata.story.storyname}}&chapter={{textdata.story.chapter + 1}}">Next &gt;&gt;&gt;</a>
			{% endif %}
		</div>
		{% endif %}
		{% if config.allowComments %}
			<div id="comments">
				{% for comment in textdata.comments %}
				<div id="comment">
					<div id="commentuser">{{comment.user}}</div>
					<div id="commentdate">Posted: {{comment.date|date('Y-m-d')}}</div>
					<div id="commenttext">{{comment.comment}}</div>
				</div>
				{% endfor %}
				{% if user || config.allowAnonymousComments %}
				<div id="comment">
					<form name="comment" action="/addComment" method="POST">
						<div id="commentuser">{% if user %}{{user.local.email}}{% else %}Anonymous{% endif %}</div>
						<div id="commenttext"><textarea cols="50" rows="6" name="comment"></textarea></div>
						<input type="submit" name="Add Comment" value="Add Comment"/>
						<input type="hidden" name="id" value="{{textdata._id.toString()}}"/>
					</form>
				</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
	<div id="editmain">
		<div class="removertfbutton">
			<a href="javascript:removeRTF();">Remove RTF Encoding</a>
		</div>
		<div class="savebutton">
			<a href="javascript:doSaveChanges();">Save changes</a>
		</div>
		<div class="revertbutton">
			<a href="javascript:doRevertChanges();">Revert to previous version</a>
		</div>
		<div class="donewitheditsbutton">
			<a href="javascript:switchToDisplayMode();">Done editing</a>
		</div>
		<form name="editdoc" method="post" action="/save">
			<input type="hidden" name="id" value="{{textdata._id.toString()}}"/>
		<div id="edittextsummary">
			<textarea name="textsummary" rows="5" cols="80">{{textdata.summary}}</textarea>
		</div>
		<div id="edittextdata">
			<textarea name="textdata" rows="20" cols="80">{{textdata.current}}</textarea>
		</div>
		</form>	
	</div>
	{% endif %}
{% endblock %}