<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}Bookshelf{% endblock %}</title>
  <link rel="stylesheet" href="/css/textstore.css"/>
  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <script language="Javascript">
      $.ajaxSetup({
          cache: false
      });
  </script>
  {% block header %}
  {% endblock %}
</head>
<body>
	<div id="top">HEADER IMAGE MIGHT GO HERE</div>
	<div id="topnav">
		{% if user %}
			Welcome, {{user.local.email}}.
			<a href="/profile" class="navlink">My Profile</a>
			<a href="/logout" class="navlink">Log Out</a>
		{% else %}
			<a href="/login" class="navlink">Log In</a> or <a href="/signup" class="navlink">Create Account</a>
		{% endif %}
		&nbsp;||&nbsp;
		<a href="/serieslist">Series</a>
		<a href="/taglist">Tags</a>
	</div>
	<div id="centerpage">
		<div id="leftcolumn">
		{% block searchbox %}
		<div style="font-size: 12px; text-align: center">Document Search</div>
		<form name="search" method="GET" action="/search">
			Tags: <input type="text" name="tags" value="{{tags}}"/>
			Text: <input type="text" name="fulltext" value="{{fulltext}}"/>
			<input type="hidden" name="page" value="{{page}}"/>
			{% if series %}
				<input type="text" name="series" value="{{series}}"/>
			{% endif %}
			<div style="font-size: 12px; text-align: center">Search Order</div>
			<select name="sortby">
				<option value="recent" {% if sortby == 'recent' %}SELECTED{% endif %}>Most recent</option>
				<option value="last" {% if sortby == 'last' %}SELECTED{% endif %}>Least viewed</option>
				<option value="series" {% if sortby == 'series' %}SELECTED{% endif %}>Series sequence</option>
				<option value="relevance" {% if sortby == 'relevance' %}SELECTED{% endif %}>Text relevance</option>
			</select>
		</form>
		<input type="button" name="submit" value="Search" onClick="document.forms.search.submit();"/>
		{% endblock %}
		{% block leftcolumn %}
		{% endblock %}
		</div>
		<div id="main">
		{% block main %}
		CONTENT WELL
		{% endblock %}
		</div>
	</div>
	<div id="footer">{% block footer %}Node-mongo-text source located at <a href="http://www.github.com/taylorj999/node-mongo-text">Github</a>{% endblock %}</div>
</body>
</html>