{% extends 'gallerytemplate.html' %}

{% block title %}Account Creation{% endblock %}

{% block main %}
<h1>Create Account</h1>
<div id="alert">{{message}}</div>

	<!-- LOGIN FORM -->
	<form name="signup" action="/signup" method="post">
		<div>
			<label>Email</label>
			<input type="text" name="email">
		</div>
		<div>
			<label>Password</label>
			<input type="password" name="password">
		</div>

		<button type="submit">Signup</button>
	</form>

	<hr>

	<p>Have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>
{% endblock %}